<app-sidebar-top></app-sidebar-top>
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink="/home">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" routerLink="/personnels">
        <i class="fas fa-fw fa-list"></i>
        <span>List personnels</span>
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" routerLink="/personnels/add">
        <i class="fas fa-fw fa-plus-square"></i>
        <span>Form personnels</span>
      </a>
    </li>

    
    <li class="nav-item active">
      <a class="nav-link" routerLink="/presence">
        <i class="fas fa-fw fa-calendar-check"></i>
        <span>Presence</span>
      </a>
    </li>

  </ul>
  <div id="content-wrapper">

    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
      </ol>

      <!-- Icon Cards-->
      <div class="row">
          <div class="col-lg-3" *ngIf="personnels">
              <ul class="list-group">
                  <li class="list-group-item" [ngClass]="{'active': p.id==selectedPersonnelId}" *ngFor="let p of personnels">
                      <a [routerLink]="['/presence/calendar/',p.id]">{{p.nom}}</a>
                  </li>
                </ul>
          </div>
        <div class="col-lg-3">
            <div id='external-events'>
                <div class='fc-event' *ngFor="let e of etats._embedded.etats" [style.background]="e.codeCouleur" 
                    [attr.data-person]="selectedPersonnelId" [attr.data-code]="e.id" [attr.data-bg]="e.codeCouleur">{{e.nom}}</div>
              </div>
        </div>
        <div class="col-lg-6">
            <div id="calendar"></div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Your Website 2018</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->
</div>
<app-sidebar-bottom></app-sidebar-bottom>
